:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish, sans-serif;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .page {
    margin: 0 1rem;
  }
}

@media (min-width: 468px) {
  .page {
    padding: 0 1rem;
  }
}
