.people-info,
.people-info-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.title {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.subtitle {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.text {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
}

.people-info .people-info-image img {
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.people-info-details {
  margin-top: 20px;
  max-width: 300px;
  text-align: left;
}

.people-container-card > ul {
  display: flex;
}
