.home-launcher {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 550px;
  padding: 20px;
}

.home-launcher .infos {
  height: 100%;
}

.home-launcher img {
  max-width: 100%;
  height: 400px;
  object-fit: contain;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
